{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "arrow-body-style": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle"
  }
}
